::placeholder {
    color:deepskyblue;
    text-align: center;
    
}

.Logo {
    width: 20%;
    padding-right: 80%;
    align-self: center;
    vertical-align: middle;
}

.w3-button w3-indigo {
    align: right;
}

.w-3 middle {

}

.w3-middle w3-bar w3-black {
"w3-bar-item w3-button
}
#Menu {
    margin-left: 20%;
}

"w3-bar-item w3-button