::placeholder {
    color:deepskyblue;
    text-align: center;
    
}

.Logo {
    width: 20%;
    padding-right: 80%;
    align-self: center;
    vertical-align: middle;
}

.w3-button w3-indigo {
    alig
}

.w-3 middle {

}

#Menu {
    margin-left: 20%;
}