::placeholder {
    color:deepskyblue;
    text-align: center;
    
}

.Logo {
    width: 20%;
    padding-right: 80%;
    align-self: center;
    vertical-align: middle;
}

a #SignIn {
        float: right;
        width: 300px;
        border: 3px solid #73AD21;
        padding: 10px;
      }
}